<div class="inline-flex items-center flex-col px-2.5 py-0.5 rounded-md bg-<%= attribute_color attribute_value %>-100 text-<%= attribute_color attribute_value %>-800">
  <dd class="text-sm font-medium"><%= attribute_value %></dd>
  <dt class="text-xs font-light"><%= attribute_name %></dt>
</div>