<div id="<%= dom_id tournament_player %>">
  <% if action_name != "show" %>
    <%= link_to "Show this tournament player", tournament_player, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this tournament player', edit_tournament_player_path(tournament_player), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
